body {
    background-color: #FFFFFC;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
}

p, a {
    font-family: 'Bitter', serif;
}

.bg-soft-yellow {
    background-color: #FFFAE3;
}

.bg-soft-yellow-opacity {
    background-color: #fffae349;
}

.text-soft-yellow {
    color: #FFFAE3;
}